


sockets==1.0.0
asyncio==3.4.3
websockets==12.0
httpserver==1.1.0
ssh==1.8.0
paramiko==2.12.0
pyftpdlib==1.5.9


platform==1.0.8
json==2.0.9
requests==2.31.0


gputil==1.4.0
plyer==2.1.0
signal==0.0.2
uuid==1.30


psutil==5.9.4
ssl==1.16
